<h1>Robot Control Panel</h1>

<div class="main-control">
  <div class="move-forward">&#8593;</div><br>
  <div class="turn-left">&#8592;</div>
  <div class="stop">Stop</div>
  <div class="turn-right">&#8594;</div><br>
  <div class="move-backward">&#8595;</div><br>
</div>

<div class="strafe-control">
  <div class="strafe-left">Strafe Left</div>
  <div class="strafe-right">Strafe Right</div>
</div>